.NavBarSecciones ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.NavBarSecciones a{
    width: 100%;
    
    text-decoration: none;
    color: white;
    
}

.NavBarSecciones li{
    width: 100%;
    text-align: center;
    background-color: black;
}

.NavBarSecciones li:hover{
    background-color: blue;
}